<ion-tabs>
  <ion-tab-bar slot="bottom" class="floating-tab-bar">
    
    <ion-tab-button tab="home" href="/app/tabs/home">
      <ion-icon name="grid-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="mapa" href="/app/tabs/mapa">
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="historial" href="/app/tabs/historial">
      <ion-icon name="bookmark-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/app/tabs/perfil">
      <ion-icon name="settings-outline"></ion-icon> </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>